[user]
  name = Taras Zubyk
  email = zuta.developer@gmail.com

[alias]
  st = status
  amend = commit --amend --no-edit
  up = !git checkout
  main = !git checkout main && git pull --rebase
  master = !git checkout master && git pull --rebase
  staging = !git checkout staging && git pull --rebase
  unstage = reset --soft HEAD^
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

[push]
  default = current
